<% form_action = (wine.persisted? ? wine_url(wine.id) : wines_url ) %>
<% hidden_method = (wine.persisted? ? "PATCH" : "POST" ) %>
<h2><%= link_to "All Products", wines_url %></h2>

<h3><%= flash[:errors] %></h3>

<form action="<%=form_action%>" method="POST">
  <input type="hidden" name="_method" value="<%= hidden_method %>">

  <label>Wine name:
    <input type="text" name="wine[name]" value="<%=wine.name%>">
  </label>
  <br>

  <label>Wine Url:
    <input type="text" name="wine[url]" value="<%=wine.url%>">
  </label>
  <br>

  <label>Wine Max Price:
    <input type="text" name="wine[max_price]" value="<%=wine.max_price%>">
  </label>
  <br>

  <label>Wine Min Price:
    <input type="text" name="wine[min_price]" value="<%=wine.min_price%>">
  </label>
  <br>

  <label>Wine Retail Price:
    <input type="text" name="wine[retail_price]" value="<%=wine.retail_price%>">
  </label>
  <br>

  <label>Wine Type:
    <select name="wine[kind]" id="wine_kind">
      <option></option>
      <option value="Wine" <%="selected" if wine.kind == "Wine"%> >Wine</option>
      <option value="WineSet" <%="selected" if wine.kind == "WineSet"%> >WineSet</option>
      <option value="Champagne" <%="selected" if wine.kind == "Champagne"%> >Champagne</option>
      <option value="Prosecco" <%="selected" if wine.kind == "Prosecco"%> >Prosecco</option>
    </select>
  </label>
  <br>

  <button>Submit</button>
</form>
